$height: 600;

.appointmentBubble {
  background: #fff;
  bottom: 0;
  box-shadow: 0 -2px 5px #888;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 300;
}

.appointmentBubbleOpen {
  height: 100%;
}

.appointmentBubbleHeader {
  background: #eff1f3;
  font-size: 2rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.appointmentBubbleClose {
  position: absolute;
  right: 16px;

  &:hover {
    cursor: pointer;
  }
}

.appointmentBubbleMain {
  overflow: auto;
  padding: 2rem 1rem;
}

.appointmentBubbleMainTop {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 1.125rem;
}

.appointmentBubbleDivider {
  margin: 2rem 0;
}

.appointmentBubbleActionContainer {
  display: flex;
  justify-content: space-around;

  button {
    margin-left: 0;
  }
}

.appointmentBubbleFooter {
  border-top: 1px solid #d5d9de;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

@media screen and (min-width: 600px) {
  .appointmentBubble {
    background: #fff;
    bottom: 0;
    box-shadow: 0 -2px 5px #888;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 300;
  }

  .appointmentBubbleOpen {
    height: #{$height}px;
  }

  .appointmentBubbleMain {
    overflow: auto;
    padding: 2rem;
  }

  .appointmentBubbleMainTop {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    margin-bottom: 1.125rem;
  }

  .appointmentBubbleActionContainer {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 1rem;
    }
  }
}
