@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --fc-today-bg-color: #fff;
}

.main-container {
  grid-template-rows: 96px 1fr;
}

.bubble-container {
  min-height: 87.5%;
  z-index: 100;
}

button svg g:not([fill~="#"]),
button svg path:not([fill~="#"]),
button svg use:not([fill~="#"]),
div[class^="Toaster"] svg g:not([fill~="#"]),
div[class^="Toaster"] svg path:not([fill~="#"]),
div[class^="Toaster"] svg use:not([fill~="#"]),
div[class^="icon-container"] svg g:not([fill~="#"]),
div[class^="icon-container"] svg path:not([fill~="#"]),
div[class^="icon-container"] svg use:not([fill~="#"]) {
  fill: #ffffff;
}

div[class^="Toaster"] svg:hover {
  cursor: pointer;
}

#slot-duration-label {
  display: none !important;
}
